<p *ngIf="usuario">Hola, {{usuario}}</p>
<p *ngIf="!usuario" >No hay usuario registrado</p>

@if (usuario){
  <p>Hola, {{usuario}}</p>
} @else {
  <p>No hay usuarios registrados</p>
}

<ul>
  @for (fruta of frutas; track $index){
    <li >{{fruta}}</li>
  }
</ul>

<div [ngSwitch]="color">
  <p *ngSwitchCase="'rojo'">El color es rojo</p>
  <p *ngSwitchCase="'azul'">El color es azul</p>
  <p *ngSwitchDefault>Color no reconocido</p>
</div>

@switch (color) {
  @case ('rojo') {
    <p>El color es rojo</p>
  }
  @case ('azul') {
    <p>El color es azul</p>
  }
  @default {
    <p>Color no reconocido</p>
  }
}

<p [ngStyle]="{'color': esActivo ? 'green' : 'red'}">
  Estado: {{esActivo ? 'Activo' : 'Inactivo'}}
</p>

<p [ngClass]="{'resaltado' : esActivo}" >
  Texto con estilo
</p>


<p appDirectivaEjemplo>
  Pasa el mouse sobre este texto y verás el efecto
</p>
